form {
   margin: 40px auto 20px;

   fieldset {
      display: flex;
      justify-content: center;

      @include mobileMQ {
         flex-direction: column;
         align-items: center;
      }
   }
}

.pokeSearch {
   width: 200px;

   @include mobileMQ {
      text-align: center;
   }
}

.pokeSearch, button {
   font-family: 'Poppins', sans-serif;
   border-radius: 5px;
   margin: 0 10px;
   background-color: #f6f7d7;
   padding: 5px 20px;
   border: 3px solid #3ec1d3;
   transition: all 0.5s ease;

   &:focus, &:hover {
      border-color: #ff9a00;
   }
}
button {

   @include mobileMQ {
      width: 200px;
      margin-top: 20px;
      margin-bottom: 20px;
   }

   &:hover {
      background-color: #00af91;
      border: 3px solid #ff9a00;
      color: #f6f7d7;
   }

   &:focus {
      border-color: #ff9a00;
   }
}