h1 {
   font-size: 10vw;
   font-family: 'Cinzel', serif;
   width: 45%;
   margin: 30px auto 20px;
   text-indent: -18%;
   color: #ff9a00;
   text-shadow: -2px 2px 1px #ff165d, -4px 4px 1px #3ec1d3, -6px 6px 1px #007965;
   font-weight: 700;
   transition: scale 0.5s cubic-bezier(.48,.43,.53,1.46), text-shadow 0.5s cubic-bezier(.48,.43,.53,1.46);

   @include desktopMQ {
      font-size: 12rem;
   }

   @include tabletMQ {
      font-size: 12vw;
      text-indent: -30%;
   }

   @include mobileMQ {
      font-size: 13vw;
      text-indent: -40%;
   }

   &:hover {
      scale: 1.05;
      text-shadow: -4px 4px 1px #ff165d, -8px 8px 1px #3ec1d3, -12px 12px 1px #007965
   }

   span {
      margin-left: 2%;
   }
}