h1 {
   font-size: 12vw;
   width: 50%;
   margin: 20px auto 20px;
   text-indent: -70px;
   color: #ff9a00;
   text-shadow: -5px 5px 0 #ff165d, -10px 10px 0 #3ec1d3;

   span {
      margin-left: 30px;
   }
}