// Only for testing to ensure that SCSS is properly updating css file
main {
    min-height: 660px;
    height: auto;
}

.pokeData {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    // margin: 20px 0;

    .pokeSprite {
        // border: 2px solid #ff165d;
        width: 250px;
        height: 250px;
        border-radius: 10px;
        margin: 20px 0 70px;
        transition: 0.7s cubic-bezier(.47,.73,.53,1.46);

        &:hover {
            transform: scale(1.08);
            box-shadow:
            0 3px 2px rgba(0, 0, 0, 0.034),
            0 6.5px 5px rgba(0, 0, 0, 0.048),
            0 12px 10px rgba(0, 0, 0, 0.06),
            0 22px 18px rgba(0, 0, 0, 0.072),
            0 42px 33px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12);
        }

        img {
            display: block;
            width: 100%;
        }
    }

    .pokeInfo, .pokeName {
        // border: 2px solid #ff165d;
        width: 50%;
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 20px;
        text-align: center;
        font-weight: 700;
        text-transform: capitalize;
        letter-spacing: 0.2em;

        @include laptopMQ {
            margin-bottom: 40px;
        }

        @include tabletMQ {
            width: 80%;
        }

        @include mobileMQ {
            width: 85%;
        }
    }

    .pokeName {
        text-shadow: 1px 1px 0 #f08a5d;
    }

    .pokeInfo {
        display: flex;
        justify-content: center;
        text-shadow: 1px 1px 0 #000;

        p {
            margin: 0 10px;
            padding: 5px 10px 5px 12px;
            border-radius: 10px;
            color: #fff;
            border: 2px solid #fff;
        }
    }

}